@import "tailwindcss";

.font-hand{
    font-family: 'Just Another Hand', Courier, monospace;
}

.crossOut {
    position: relative;
}
  
/*Line strike through for animation */
.crossOut::after {
    content: ''; 
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 3px; 
    background-color: black; 
    transform: scaleX(0); 
    transform-origin: bottom left; 
    transition: transform 0.18s;
}

.crossOut:hover::after {
    transform: scaleX(1); 
}

h1,p{
    font-family: 'Just Another Hand', Courier, monospace;
}