Ideas:
    -Users can create and account
    -Login / Logout
    -Add Habits
    -Remove Habits
    -Edit Habits
    -Some sort of daily checklist
    -See historical figures
    -Add friends, view habit completion
    -Make comments on friends activity
